@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Amiri:ital@0;1&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #0b1010;
    --base-font-color: #ffffff;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #0b1010;
    --base-font-color: #ffffff;
  }
}

body {
  overscroll-behavior: none;
  background-color: var(--background-color);
  color: var(--base-font-color);
}
p {
  font-size: 12px;
}

@layer components {
  .nav-link {
    @apply relative text-white cursor-pointer text-[20px] w-fit md:block after:block
    after:content-[''] after:absolute after:h-[1px] after:bg-[#EADCBA] after:w-full after:scale-x-0
    after:hover:scale-x-100 after:transition after:duration-300 after:origin-center hidden;
  }

  .nav-link-mobile {
    @apply relative mb-[2rem] text-white cursor-pointer text-[22px] w-fit md:block after:block 
    after:content-[''] after:absolute after:h-[1px] after:bg-[#EADCBA] after:w-full after:scale-x-0 
    after:hover:scale-x-100 after:transition after:duration-300 after:origin-center;
  }

  .heading {
    @apply text-center text-white text-[28px] sm:text-[33px] md:text-[45px] font-bold;
  }
}

.slick-dots li {
  bottom: 0px !important;
  margin-left: 2vw !important;
  margin-right: 6vw !important;
}

.slick-dots li button {
  border: #ffffff00 1px solid !important;
}

.slick-dots {
  text-align: left !important;
}

@media (min-width: 768px) {
  p {
    font-size: 20px;
  }
  .slick-dots li {
    bottom: 0px !important;
    margin-left: 5vw !important;
    margin-right: 6vw !important;
  }
}

@media screen and (min-width: 1024px) {
  .slick-dots li {
    bottom: 0px !important;
    margin-left: 17.5vw !important;
    margin-right: -10.25vw !important;
  }
}

.slick-dots > li.slick-active > div {
  border: #ffffff 1px solid !important;
  border-radius: 0.4rem;
}
